.nodered/.flows.json.backup
[
    {
        "id": "6e6febc286336da2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "39b7f90507a7efbf",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8a5385a3ba37ed70",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9db69a70d0f02fa3",
        "type": "ui_group",
        "name": "POST to /endpoint and see the payload here...",
        "tab": "39b7f90507a7efbf",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "46abc500f040cc20",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "39b7f90507a7efbf",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "974d8758a804d9f3",
        "type": "http response",
        "z": "6e6febc286336da2",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "17ae42d8dcab9626",
        "type": "ui_text",
        "z": "6e6febc286336da2",
        "group": "9db69a70d0f02fa3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Payload:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "5cb39b25ba40da4b",
        "type": "debug",
        "z": "6e6febc286336da2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "5065fcb43560b6c3",
        "type": "ui_button",
        "z": "6e6febc286336da2",
        "name": "",
        "group": "46abc500f040cc20",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CLICK",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "clicked",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "9fb25a107313d7c2",
                "68cf3390684cdfd8"
            ]
        ]
    },
    {
        "id": "05c547de2bd0b98c",
        "type": "ui_button",
        "z": "6e6febc286336da2",
        "name": "",
        "group": "46abc500f040cc20",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "UNCLICK",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "not clicked",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "9fb25a107313d7c2"
            ]
        ]
    },
    {
        "id": "9fb25a107313d7c2",
        "type": "ui_text",
        "z": "6e6febc286336da2",
        "group": "46abc500f040cc20",
        "order": 0,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "59ef7852cad972e0",
        "type": "http in",
        "z": "6e6febc286336da2",
        "name": "post",
        "url": "/",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "17ae42d8dcab9626",
                "5cb39b25ba40da4b",
                "974d8758a804d9f3"
            ]
        ]
    },
    {
        "id": "68cf3390684cdfd8",
        "type": "exec",
        "z": "6e6febc286336da2",
        "command": "cd /; ls",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 260,
        "y": 340,
        "wires": [
            [
                "b3355df45d2780c6"
            ],
            [
                "01939fa37cf063c5"
            ],
            [
                "c4882d08e1257699"
            ]
        ]
    },
    {
        "id": "b3355df45d2780c6",
        "type": "ui_text",
        "z": "6e6febc286336da2",
        "group": "46abc500f040cc20",
        "order": 0,
        "width": "4",
        "height": "4",
        "name": "",
        "label": "stdout",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "01939fa37cf063c5",
        "type": "ui_text",
        "z": "6e6febc286336da2",
        "group": "46abc500f040cc20",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "stderr",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "c4882d08e1257699",
        "type": "ui_text",
        "z": "6e6febc286336da2",
        "group": "46abc500f040cc20",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "return code",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 610,
        "y": 380,
        "wires": []
    }
]