.nodered/flows.json
[{"id":"6e6febc286336da2","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"39b7f90507a7efbf","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"8a5385a3ba37ed70","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9db69a70d0f02fa3","type":"ui_group","name":"POST to /endpoint and see the payload here...","tab":"39b7f90507a7efbf","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"5b1154caaf41a1eb","type":"http in","z":"6e6febc286336da2","name":"","url":"/endpoint","method":"post","upload":false,"swaggerDoc":"","x":80,"y":220,"wires":[["17ae42d8dcab9626","974d8758a804d9f3","5cb39b25ba40da4b"]]},{"id":"974d8758a804d9f3","type":"http response","z":"6e6febc286336da2","name":"","statusCode":"200","headers":{},"x":280,"y":260,"wires":[]},{"id":"17ae42d8dcab9626","type":"ui_text","z":"6e6febc286336da2","group":"9db69a70d0f02fa3","order":0,"width":0,"height":0,"name":"","label":"Payload:","format":"{{msg.payload}}","layout":"col-center","className":"","x":280,"y":180,"wires":[]},{"id":"5cb39b25ba40da4b","type":"debug","z":"6e6febc286336da2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":220,"wires":[]}]